.map-container {
  height: 100vh;
  width: 100%;
}

.map-leaflet {
  height: 100%;
  width: 100%;
}

.popup-content {
  .popup-parameters {
    margin-top: 8px;
    
    .popup-parameters-code {
      font-size: 12px;
      margin: 4px 0;
    }
  }
}
